body {
  background-color: #f5f5f5;
}
h1 {
  text-align: center;
  margin-top: 1rem;
}

.forget-process-form {
  width: 500px;
  margin: 1rem auto;
  padding: 1rem 2rem;
}
.forget-process-form {
  margin: 1rem 0;
}
.forget-process-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 17px;
}
.forget-process-form input {
  width: 100%;
  padding: 10px 5px;
  border-radius: 5px;
  border: 1px solid transparent;
}
.reset-form-control {
  margin-bottom: 10px;
}
.forget-process-btn {
  background-color: #1a73e8;
  color: #fff;
  display: block;
  border: none;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 25px;
  text-transform: capitalize;
}
