.home-add-btn,
.home-view-btn {
  background-color: #33b249;
  color: #fff;
  display: block;
  border: none;
  width: auto;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 5px;
}
.home-container {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.home-view-btn {
  background-color: #1a73e8;
}

.home-btn-container {
  display: flex;
  width: auto;
  padding: 10px;
}
