* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.job-info {
  width: 400px;
  margin: 1rem auto;
  padding: 20px 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.job-info h3,
p {
  margin-bottom: 10px;
}
.job-info button {
  background-color: #33b249;
  color: #fff;
  display: block;
  border: none;
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 5px;
}
