* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
h2 {
  margin-bottom: 25px;
}
.signup-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  padding: 10px 20px;
  margin: 75px auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.signup-container h2 {
  text-align: center;
}
form {
  width: 100%;
}
.form-control input {
  margin-bottom: 30px;
  width: 100%;
  padding: 10px 5px;
  border: 1px solid #a19797;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

button {
  background-color: #1a73e8;
  color: #fff;
  display: block;
  border: none;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 5px;
}

.error-info p {
  color: red;
}
