* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form-update-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  padding: 10px 20px;
  margin: 75px auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.btn-update {
  background-color: #33b249;
  color: #fff;
  display: block;
  border: none;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 5px;
}

.form-control-add input {
  text-align: center;

  margin-bottom: 30px;
  width: 100%;
  padding: 10px 5px;
  border: 1px solid #a19797;
  border-radius: 5px;
}

.form-control-add textarea {
  resize: none;
  border: 1px solid #a19797;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 100%;
  padding: 10px 5px;
}
@media screen and (min-width: 420px) {
  .form-update-container {
    width: 100%;
    margin-top: 0;
    box-shadow: none;
  }
}
